body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #2f2475;
    background-color: #f0f0f0; /* Off-White */
    margin: 0;
    display: flex;
    flex-direction: column;
}

body, html {
    height: 100%;
}

.content {
    flex: 1; /* Force the content to take the full page */
    padding: 40px;
}

h1, h1 a {
    color: #fff; /* White */
    font-size: 3rem;
    text-decoration: none;
    font-weight: 800;
}

h2 {
    color: #6a5acd; /* Slate Blue */
    font-size: 2em;
    font-weight: 800;
}

h3 {
    color: #6a5acd; /* Slate Blue */
    font-size: 1.5em;
    font-weight: 800;
}

p {
    color: #2f2475; /* Dark Blue */
    font-size: 1em;
}

a {
    color: #6a5acd; /* Slate Blue */
    font-size: 1em;
    font-weight: 600;
}

.button {
    display: inline-block; /* Allows padding and margins */
    padding: 10px 20px; /* Space inside the button */
    margin: 10px 10px;
    background-color: #6a5acd; /* Slate Blue background */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 10px; /* Rounded corners */
    border-style: none; /* No border */
    font-size: 1em; /* Font size */
    font-weight: 600;
    transition: background-color 0.3s; /* Smooth transition */
}

.button:hover {
    background-color: #7b68ee; /* Change background on hover */
}

/*** card ***/

.card {
    background-color: #ffffff; /* White background */
    color: #2f2475; /* Text color */
    padding: 20px; /* Space inside the card */
    margin: 15px 0; /* Space between cards */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: transform 0.2s; /* Smooth transition for hover effect */
}

.card:hover {
    transform: translateY(-2px); /* Lift effect on hover */
    box-shadow: 0 4px 8px rgba(66, 33, 99, 0.5); /* Purple shadow on hover */
}

.card h2 {
    margin-top: 0; /* Remove top margin for card title */
}

.card p {
    margin: 10px 0 0; /* Margin for paragraph */
}

.event h3 {
    margin-top: 0;
}
.card .button {
    margin-left: 0;
}

/*** header, footer, navbar ***/

.header, footer {
    background-color: #6a5acd;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    padding: 20px 30px;
    position: relative;
}

footer {
    font-weight: 200;
}

.header p {
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.header {
    background-color: #6a5acd;
    color: white;
    padding: 20px 30px;
    position: relative;
}

/*** icons ***/
.material-symbols-outlined {
    vertical-align: bottom; /* align inline icons */
}

/*** forms ***/
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 15px;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    border-color: #6a5acd;
    border-width: 2px;
    outline: none;
}

