{% extends "layout.html" %}

{% block content %}
<form action="/edit_event/{{ event.id }}" method="post" class="card">
  <h2>editing event {{ event.title }}</h2>
  <br />
    <div class="form-group">
    <label for="title">Title:</label> <br />
    <input type="text" name="title" id="title" maxlength="100" value="{{ event.title }}" required/>
  </div>
  <div class="form-group">
    <label for="location">Location:</label> <br />
    <input type="text" name="location" id="location" maxlength="100" value="{{ event.location }}" required/>
  </div>
  <div class="form-group">
    <label for="description">Description:</label> <br />
    <textarea name="description" id="description" rows="4" cols="60" 
              maxlength="1000" required>{{ event.description }}</textarea>
  </div>
  <div class="form-group">
    <label for="start_time">Start time:</label> <br />
    <input type="datetime-local" name="start_time" id="start_time" value="{{ event.start_time }}" required/>
  </div>
  <div class="form-group">
    <label for="end_time">End time:</label> <br />
    <input type="datetime-local" name="end_time" id="end_time" value="{{ event.end_time }}" required/>
  </div>
  <br />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="update event" class="button" />
  <input type="submit" value="cancel" class="button" />
  </form>
{% endblock %}