{% extends "layout.html" %}

{% block content %}

<div class="card">
  <h2>{{ event.title }}</h2>
  <p>📌location: {{ event.location }}</p>
  <p> start time: {{ event.start_time }}</p>
  <p> end time: {{ event.end_time }}</p>
  <p>organized by
    <a href="/user/{{ event.user_id }}">{{ organizer.username }}</a>
  </p>
  <h3>event description</h3>
  <p>{{ event.description }}</p>
  <h3>RSVPs</h3>
  <ul>
    {% for a in attendees %}
    <li>{{a.username}}</li>
    {% endfor %}
  </ul>
  <h3>Snacks</h3>
  <p>This is what the confirmed attendees are planning to bring:</p>
  <ul>
    {% for s in snacks %}
    <li>{{s.snack}}</li>
    {% endfor %}
  </ul>
  <h3>Dietary needs and preferences to consider</h3>
  <ul>
    {% for d in diets %}
    <li>{{d.diet}}</li>
    {% endfor %}
  </ul>  
</div>


{% if session.user_id == event.user_id %}
<div class="card">
  <h2>Manage event</h2>
  <p>This is your event. You can delete it, edit it, and see more info of the attendees.</p>
  <a href="/edit_event/{{ event.id }}" class="button">edit event</a>
  <a href="/delete_event/{{ event.id }}" class="button">delete event</a>
  <h3>RSVPs</h3>
  {% for r in responses %}
  <h4>{{ r.username }}</h4>
  <ul>
    <li>status: {{ r.status }}</li>
    <li>bringing: {{ r.snack }}</li>
    <li>dietary requirements: {{ r.diet }}</li>
    <li>greetings: {{ r.greetings }}</li>
  </ul>
  {% endfor %}
</div>
{% endif %}

{% if session.user_id and not rsvp %}
<form class="card" action="/new_rsvp" method="post">
  <h2>RSVP now</h2>
  <fieldset>
    <legend>RSVP (are you coming?):</legend>
    <label for="yes">Yes</label>
    <input type="radio" name="status" id="yes" value="1" checked /> <br />
    <label for="maybe">Maybe</label>
    <input type="radio" name="status" id="maybe" value="2" /> <br />
    <label for="no">No</label>
    <input type="radio" name="status" id="no" value="3" />
  </fieldset>
  <p>
    <label for="diet">Dietary requirements and preferences:</label> <br />
    <textarea name="diet" id="diet" rows="4" cols="60" maxlength="200"></textarea>
  </p>
  <p>
    <label for="snack">Snacks I'll bring:</label> <br />
    <textarea name="snack" id="snack" rows="4" cols="60" maxlength="200"></textarea>
  </p>
  <p>
    <label for="greetings">Greetings to the host:</label>: <br />
    <textarea name="greetings" id="greetings" rows="4" cols="60" maxlength="200"></textarea>
  </p>
<br />
  <input type="hidden" name="event_id" value="{{ event.id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Send response" class="button" />
</form>
{% elif session.user_id and rsvp %}
<div class="card"> 
  <h2>my RSVP</h2>
  <p>You have responded with the following details:</p>
  <ul>
    <li>status: {{ rsvp.status }}</li>
    <li>bringing: {{ rsvp.snack }}</li>
    <li>dietary requirements: {{ rsvp.diet }}</li>
    <li>greetings: {{ rsvp.greetings }}</li>
  </ul>
</div>
{% else %}
<div class="card">
  <h2>log in or register to RSVP!</h2>
  <a href="/register" class="button">register</a>
  <a href="/login" class="button">log in</a>
</div>
{% endif %}
{% endblock %}