<!DOCTYPE html>
<html>

<head>
  <title>snackRSVP</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>

  <h1>snackRSVP</h1>
  <div class="card">
    {% if session.username %}
    <p>
      Welcome to your snackRSVP {{ session.username }}!
      <a href="/logout" class="button">log out</a>
    </p>
    {% else %}
    <a href="register" class="button">register</a>
    <a href="login" class="button">log in</a>
    {% endif %}
  </div>
  {% if session.username %}
  <form action="/new_event" method="post" class="card">
    <h3>Add new event</h2>
      <p>
        title: <br />
        <input type="text" name="title" />
      </p>
      <p>
        place: <br />
        <input type="text" name="place" />
      </p>
      <br />
      <input type="submit" value="create event" class="button" />
  </form>
  {% endif %}
<h2>Events</h2>
{% for event in events %}
<div class="card">
  <h3>
    {{ event.title }}
  </h3>
  <p>
    this event will be organized at {{ event.place }}
  </p>
</div>
{% endfor %}

</body>

</html>