<!DOCTYPE html>
<html>

<head>
  <title>snackRSVP</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>

  <h1>snackRSVP</h1>
  <div class="card">
    <p> a service to organize events and bringing snacks. </p>
    <br>
    <a href="register" class="button">register</a>
    <a href="login" class="button">log in</a>
  </div>
<h2>Events</h2>
{% for event in events %}
<div class="card">
  <h3>
    {{ event.title }}
  </h3>
  <p>
    this event will be organized at {{ event.place }}
  </p>
</div>
{% endfor %}

</body>

</html>