{% extends "layout.html" %}
{% import 'list.html' as list %}

{% block content %}

<h2>My events</h2>

{% if organizing == [] and attending == [] %}
<div class="card">
  <p>
    You don't have any events yet. 
  </p>
  <p>
    <a href="/new_event" class="button">create a new event</a>
    or
    <a href="/search" class="button">find an event</a>
    to RSVP!
  </p>
</div>
{% endif %}

{{ list.events_list(events=organizing) }}

{% if not attending == [] %}
<h2>My RSVPs</h2>
{{ list.events_list(events=attending) }}
{% endif %}

{% endblock %}