{% extends "layout.html" %}

{% block content %}

{% if session.username %}
<form action="/new_event" method="post" class="card">
  <h2>Add new event</h2>
  <div class="form-group">
    <label for="title">Title:</label> <br />
    <input type="text" name="title" id="title" maxlength="100" required/>
  </div>
  <fieldset>
    <legend>Event type:</legend>
    {% for type in event_types %}
    <input type="radio" name="type" id="{{ type.title }}" value="{{ type.title }}" checked />
    <label for="{{ type.title }}">{{ type.title }}</label>
    <br />
    {% endfor %}
  </fieldset>
  <div class="form-group">
    <label for="location">Location:</label> <br />
    <input type="text" name="location" id="location" maxlength="100" required/>
  </div>
  <div class="form-group">
    <label for="description">Description:</label> <br />
    <textarea name="description" id="description" rows="4" cols="60" 
              maxlength="1000" required></textarea>
  </div>
  <div class="form-group">
    <label for="start_time">Start time:</label> <br />
    <input type="datetime-local" name="start_time" id="start_time" required/>
  </div>
  <div class="form-group">
    <label for="end_time">End time:</label> <br />
    <input type="datetime-local" name="end_time" id="end_time" required/>
  </div>
  <br />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="create event" class="button" />
</form>
{% else %}
<div class="card">
  <p>
  <a href="/login" class="button">log in</a>
  or
  <a href="/register" class="button">register</a>
  to create a new event.
  </p>
</div>
{% endif %}

{% endblock %}