<!DOCTYPE html>
<html>

<head>
  <title>register</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>sign up for snackRSVP</h1>
  <form action="/createuser" method="post" class="card">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    </br>
    <input type="submit" value="Luo tunnus" class="button" />
  </form>
</body>

</html>