{% extends "layout.html" %}
{% import 'list.html' as list %}

{% block content %}

<form action="/search" method="get" class="card">
  <h2>Events search</h2>
  {% if query %}
  <div class="form-group">
    <label for="title">Search by title:</label> <br />
    <input type="text" name="query" id="query" value="{{ query }}" maxlength="100" required/>
  </div>
  {% else %}
  <div class="form-group">
    <label for="title">Search by title:</label> <br />
    <input type="text" name="query" id="query" maxlength="100" required/>
  </div>
  {% endif %}
  <br />
  <input type="submit" value="search" class="button" />
</form>

{% if events == [] %}
<div class="card">
  <p>
    No results for search {{ query }}
  </p>
</div>
{% endif %}

{{ list.events_list(events) }}

{% endblock %}